#meal-slot {
    border: 0.05em solid gray;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

main > header {
    margin-bottom: 3rem;
}

.public-meal {
    margin: 0 0 1rem;
    display: flex;
    flex-direction: column;
    border: 0.05rem solid black;
    padding: 1rem;
}

.public-meal header {
    flex-direction: column;
    display: flex;
}

.public-meal header h4 {
    padding: 0.5em;
    font-size: 1.2rem;
    border-bottom: 0.05em dashed gray;
}

.public-meal header .header-subtext {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.public-meal .meal-macros {
    padding: 0.5rem 0.5rem;
    text-align: left;
}

main > div {
    display: flex;
}

main > div > section:first-of-type {
    width: 75%;
    margin: 0 auto;
}

main > div > section:not(:first-of-type) {
    width: 25%;
}

main > div > section header h3 {
    font-size: 1.5rem;
}