body > header,
main > header,
body > header {
    margin-bottom: 3rem;
}

body > header,
body > header {
    overflow: scroll;
}

body > header nav:first-of-type {
    margin-bottom: 1rem;
}

body {
    background-color: rgb(247, 247, 247);
}

body > main header {
    padding: 2rem;
}

body > main header h3 {
    margin-bottom: 1rem;
}

#dashboard-options nav div,
#dashboard-options nav img,
#dashboard-options nav i,
#dashboard-options nav i,
#dashboard-options nav ul,
#dashboard-options nav li,
#dashboard-options nav li div,
#dashboard-options nav a,
#dashboard-options nav article,
#dashboard-options nav article,
#dashboard-options nav article i,
#dashboard-options nav article #add-macros-article,
#dashboard-options nav #add-macros-article {
    width: 100%;
}

#dashboard-options nav i {
    font-size: 5rem;
}

#dashboard-options nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

#dashboard-options nav li {
    padding: 2rem;
    width: 100%;
    list-style-type: none;
}

#dashboard-options nav li div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#dashboard-options nav a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

#dashboard-options nav article {
    padding: 2rem;
    cursor: pointer;
    transition: transform 0.5s ease-out, border 0.5s ease-out;
    border: 0.01px solid var(--off-white);
}

#dashboard-options nav article:hover {
    transform: scale(110%);
    border: 0.005em solid gray;
}

#dashboard-options nav #add-macros-article {
    order: 0;
}

#dashboard-options nav #add-macros-article {
    font-size: 1.3rem;
}

#dashboard-options nav #add-macros-article i {
    font-size: 6rem;
}
#main-content-wrapper-statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-content-wrapper-statistics #todays-macros {
    display: flex;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid gray;
}

#main-content-wrapper-statistics #todays-macros table {
    border-collapse: collapse;
}

#main-content-wrapper-statistics #todays-macros td {
    padding: 0.5rem;
    border-bottom: 1px solid gray;
}

#main-content-wrapper-statistics #todays-macro-inputs {
    display: flex;
    justify-content: center;
}

#main-content-wrapper-statistics #todays-macro-inputs #macro-inputs-field td {
    border: 1px solid black;
}

#main-content-wrapper-statistics #todays-macro-inputs #macro-inputs-field td header {
    padding: 1rem;
}

#main-content-wrapper-statistics #todays-macro-inputs #macro-inputs-field td header div i {
    border: 1px solid black;
    width: 50%;
    padding: 0.5em;
    transition: background-color 0.3s linear, color 0.3s linear;
}

#main-content-wrapper-statistics #todays-macro-inputs #macro-inputs-field td header div i:hover {
    background-color: black;
    color: white;
}

#main-content-wrapper-statistics #top-row {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#main-content-wrapper-statistics .hidden-macros {
    display: none;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#main-content-wrapper-statistics .hidden-macros div {
    width: 50%;
}

#main-content-wrapper-statistics .hidden-macros div p:first-of-type {
    font-weight: bold;
}

#main-content-wrapper-statistics #macro-inputs-field header {
    padding: 2rem;
}
form {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
}

form #form-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

form #meal-added-text {
    color: green;
    text-align: center;
    margin: 0 auto;
}

form #meals-select-field {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

form #choose-from-meals-container {
    display: flex;
    margin: 0 auto;
    gap: 0.2rem;
}

form .info-container {
    position: relative;
}

form .info-container:hover .info-text {
    display: block;
}

form .info-text {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid gray;
    padding: 0.5em;
    left: 50%;
    box-shadow: 0 0 5px gray;
}

form input,
form button,
form select {
    padding: 0.5rem 1rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

form button {
    margin: 0 auto;
    cursor: pointer;
}

form .macros-input-item {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
}

form #new-meal-content {
    display: none;
    margin-bottom: 2rem;
    justify-content: center;
    gap: 1rem;
}

form #macros-input-field {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

form #new-meal-input-field {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 0 1rem;
}

form #new-meal-input-field i {
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
}

form #serving-size > div {
    align-items: center;
}

form #serving-size #measurment-input-field {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
form #form-content-wrapper #buttons-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#new-meal main > div,
#new-meal-main button,
#new-meal-main #meal-info,
#meal-field {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#new-meal #meal-field {
    flex-direction: column;
}

#new-meal #meal-field header {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#new-meal #meal-field #add-ingredient {
    flex-direction: column;
    gap: 1rem;
    display: flex;
    align-items: center;
    width: 75%;
    padding: 2rem;
    border: 0.05em solid black;
    margin: 2rem auto;
}

#new-meal #meal-field #meal-input-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 750px) {
    body > header {
        position: fixed;
        width: 200px;
        height: 100%;
        border: 0;
        border-right: 0.05em solid var(--main-detail-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 5rem;
        background-color: var(--main-bg-color);
        z-index: 2;
    }

    body > header nav {
        width: 100%;
    }

    body > header nav ul {
        flex-direction: column;
    }

    body > header nav ul li {
        width: 100%;
    }
    #main-content-wrapper-statistics #top-row {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    
    #main-content-wrapper-statistics #top-row #todays-macros {
        border: none;
    }
    
    #main-content-wrapper-statistics #top-row #todays-macro-inputs #macro-inputs-field td header {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        gap: 1rem;
        text-align: center;
    }
    
    #main-content-wrapper-statistics #top-row #todays-macro-inputs #macro-inputs-field td header div i {
        width: fit-content;
    }
    
    #main-content-wrapper-statistics #top-row #todays-macro-inputs #macro-inputs-field td header p:nth-of-type(2) {
        border-right: 1px solid gray;
        border-left: 1px solid gray;
        padding: 0 1rem;
    }
    
    #main-content-wrapper-statistics #top-row #todays-macro-inputs #macro-inputs-field td header * {
        margin: 0 auto;
    }
    
    #main-content-wrapper-statistics {
        height: 80vh;
    }
}

@media screen and (min-width: 750px) {
    body > main,
    footer {
        margin-left: 200px;
    }
    body > main header {
        padding: 4rem;
    }
}

@media only screen and (min-width: 900px) {
    #dashboard-options nav li {
        width: 45%;
    }

    #dashboard-options nav #add-macros-article {
        order: 2;
    }
    #main-content-wrapper-statistics {
        .hidden-macros {
            div {
                width: 25%;
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    #dashboard-options nav li {
        width: 30%;
    }

    #dashboard-main {
        height: 95vh;
    }

    footer {
        position: relative;
        bottom: 0;
    }
}

@media screen and (min-width: 1200px) and (min-height: 500px) {
    #dashboard-main {
        height: 95vh;
    }
}